
@media screen and (min-width: 1024px)
{

/*-----------
  Main body  
-----------*/

body  {
  font-family: Georgia,serif;
    font-variant: small-caps; 
    font-weight: 100; 
    background-color: #DFE2DB;
    color: #B94629;
  }

/*---------------------Navigation Style------------------------------*/

/*---------------
  Navigation Bar
----------------*/

  #nav
  {
    font-size:24px;
    color:#8b0000;
    margin:10px 10px 10px 10px;
    padding: 2px;
  }

/*-----------------
  Navigation Banner
------------------*/

  #banner
  {

  color:#8b0000;
  font-size:27px;
  }

/*---------------------Slider Style------------------------------*/

/*--------------------------------------
 users -> contents -> sliderMainDivFrame
-----------------------------------------*/
  
  #main_slider  {
    background-color: #E3DEC1;
    border-style: inset;
    border-color: #E89F65;
    overflow: hidden;
   
    margin : 10px 0px 20px 0px;
    padding: 2px ;
    box-shadow: 1px 1px 1px #E89F65;
  }

/*--------------------------------------
 users -> contents ->slider-> main_slider_heading 
-----------------------------------------*/

  #main_slider_heading  {
    color: #B94629;
    margin-bottom: 1px;
    margin-top: 2px;
    text-transform: none;   
    text-align: center;
  }

/*--------------------------------------
 users -> contents -> slider-> main_slider_Picture
-----------------------------------------*/

  #slider_picture {
    height:250px !important;
    min-width:80% !important;
    min-height:250px !important;
    max-height:280px !important;
    margin-bottom:10px;
  }
  
/*--------------------------------------
 users -> contents -> slider-> main_slider_Button 
-----------------------------------------*/

  #main_slider button  {
    color:white;
    background-color:#8b0000;
    height:35px;
    position: relative;
    width: 18%;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
  }
  
/*---------------------Quiz Style------------------------------*/ 

/*--------------------------------------
 users -> contents -> quiz-> main_quiz 
-----------------------------------------*/

  #main_quiz  {
    background-color: #E3DEC1;
    border-style: inset;
    min-height: 465px;
    border-color: #E89F65;
    overflow: hidden;
    margin : 10px 0px 20px 0px;
    padding: 2px ;
    box-shadow: 1px 1px 1px #E89F65;
  }
  /*--------------------------------------
 users -> contents -> quiz-> main_quiz heading
-----------------------------------------*/

  #main_quiz h1  {
    color: #B94629;
    
    margin-bottom: 1px;
    margin-top: 2px;
    text-transform: none;   
    text-align: center;
  }
  /*--------------------------------------
 users -> contents -> quiz-> main_quiz input and buttons
-----------------------------------------*/
   #main_quiz  input , #main_quiz  button
   {
    color:white;
    background-color:#8b0000;
    white-space: normal;
    width: 40%;

     margin : 15px 0px 20px 20px;
   }
  /*--------------------------------------
 users -> contents -> quiz-> main_quiz buttons
-----------------------------------------*/
   #main_quiz #quizcontrolbutton button
   {
    width: 30% !important;
    margin : 20px 0px 20px 5px;
   }

   #main_section
   {
     background-color: #E3DEC1;
    border-style: inset;
   
    border-color: #E89F65;
    overflow: hidden;
    margin : 10px 0px 20px 0px;
    padding: 1px ;
    box-shadow: 1px 1px 1px #E89F65;
   }

    #picture {
   margin-top: 10px;
    height:150px!important;
    
   
  }
   #sidebar_image {
    margin-top: 10px;
    height:150px!important;
    width:100%;
   
  
   }

  #side_bar
   {
     background-color: #E3DEC1;
    border-style: inset;
    font-size: 15px;
    border-color: #E89F65;
    overflow: hidden;
    margin : 10px 0px 20px 0px;
    padding: 2px ;
    box-shadow: 1px 1px 1px #E89F65;
   }
    #sub_section
{
  margin: 10px 10px 10px 10px;
  border: 1px solid #B94629;
 
    background-color: #E3DEC1;
}

#divborder
{
   border-right: 1px solid #B94629;
 
}

}
@media screen and (min-width : 768px) and (max-width : 1023px)
{

}


@media screen and (min-width : 0px) and (max-width : 767px)  {
 
  body  {
    font-family: Comic Sans MS, cursive, sans-serif;
    background-color: #DFE2DB;
    color: #B94629;
  }
  .header  {
     width:100%;
     height:45px;
     background-color: #E3DEC1;
     
  } 
  .header a {
     font-size: 25px;
     text-decoration: none !important;
     margin-left : 15px;
     color: #B94629;
  }
  .sub-header
  {
     width:100%;
     background-color: #E3DEC1;
     padding:5px;
  }
  #main_slider  {
    background-color: #E3DEC1;
    border-style: inset;
    border-color: #E89F65;
    overflow: hidden;
    width:100%;
    margin : 10px 0px 20px 0px;
    padding: 2px ;
    box-shadow: 1px 1px 1px #E89F65;
  }

  #main_slider_heading  {
    color: #B94629;
    font-family: Georgia,serif;
    font-variant: small-caps; 
    font-weight: 100; 
    margin-bottom: 1px;
    margin-top: 2px;
    text-transform: none;   
    text-align: center;
  }

  #slider_picture {
    height:250px !important;
    min-width:100% !important;
    min-height:250px !important;
    max-height:280px !important;
    margin-bottom:10px;
  }
  
  

  #main_slider button  {
    color:white;
    background-color:#8b0000;
    height:35px;
    position: relative;
    width: 18%;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
  }







}
